@model List<SliderItem>

<!--====== Slider Part Start ======-->

<section class="slider-area slider-3">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slider-active mt-30">
                    @foreach (var sliderItem in Model)
                    {
                        <div class="single-slider">
                            <div class="slider-image">
                                <img src="~/uploads/sliders/@sliderItem.ImageUrl" alt="slider">
                            </div>
                            <div class="slider-content-wrapper">
                                <div class="slider-content">
                                    <h1 data-animation="bounceInDown" data-delay="0.2s" class="main-title "><span>@sliderItem.Title </span>  </h1>
                                    <p data-animation="bounceInDown" data-delay="0.5s"><br> @sliderItem.Subtitle</p>
                                    <a data-animation="zoomIn" data-delay="0.8s" class="main-btn " href="@sliderItem.ButtonUrl">@sliderItem.ButtonText</a>
                                </div>
                            </div>
                        </div> <!-- single slider -->
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="slider-banner mt-30">
                    <a href="shop-4-column.html"><img src="~/assets/images/banner-8.jpg" alt="banner"></a>
                </div> <!-- slider banner -->
                <div class="slider-banner mt-30">
                    <a href="shop-4-column.html"><img src="~/assets/images/banner-9.jpg" alt="banner"></a>
                </div> <!-- slider banner -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>

<!--====== Slider Part Ends ======-->